@model IEnumerable<PetShop.Models.Produto>

@{
	ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
	<a asp-action="Create">Create New</a>
</p>
//formulario de busca
<form asp-controller="Produtos" asp-action="Buscar" method="get" class="mb-3">
	<div class="input-group">
		<input type="text" name="busca" class="form-control" placeholder="Buscar por nome, marca ou categoria..." value="@ViewData["campoBusca"]" />
		<button class="btn btn-outline-secondary" type="submit">Buscar</button>
	</div>
</form>

<table class="table">
	<thead>
		<tr>
			<th>
				@Html.DisplayNameFor(model => model.Nome)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Marca)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Categoria)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Animal)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Porte)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Idade)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.Variacao)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EstoqueAtual)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.EstoqueMinimo)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PrecoCusto)
			</th>
			<th>
				@Html.DisplayNameFor(model => model.PrecoVenda)
			</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		@foreach (var item in Model)
		{
			<tr>
				<td>
					@Html.DisplayFor(modelItem => item.Nome)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Marca)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Categoria)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Animal)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Porte)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Idade)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.Variacao)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EstoqueAtual)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.EstoqueMinimo)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrecoCusto)
				</td>
				<td>
					@Html.DisplayFor(modelItem => item.PrecoVenda)
				</td>
				<td>
					<a asp-action="Edit" asp-route-id="@item.ProdutoId">Edit</a> |
					<a asp-action="Details" asp-route-id="@item.ProdutoId">Details</a> |
					<a asp-action="Delete" asp-route-id="@item.ProdutoId">Delete</a>
				</td>
			</tr>
		}
	</tbody>
</table>
